header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header div,
header h1 {
  display: inline-block;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.4rem 0.8rem;
  margin: 0;
}

header img {
  height: 3rem;
  width: auto;
}
