header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

header h1 {
  margin: 0;
}

header img {
  margin-top: 3px; /* quick fix for vertical alignment, find better solution */
  height: 3rem;
  width: auto;
}
